lc = LC;
d = 5*LC;

x0 = X0;
x1 = X1;

SQUARE_MACRO

D0 = x0; D1 = x1;
Call SQUARE;
inner_square = ll;
Plane Surface(1) = {inner_square};

D0 = x0 - d; D1 = x1 + d;
Call SQUARE;
outer_square = ll;
Plane Surface(2) = {-inner_square, outer_square};
