lc = LC;
d = 5*LC;

x0 = X0;
x1 = X1;

CUBE_MACRO

D0 = x0; D1 = x1;
Call CUBE;
inner_box = sl;
Volume(1) = {sl};

D0 = x0 - d; D1 = x1 + d;
Call CUBE;
outer_box = sl;
Volume(2) = {-inner_box, outer_box};

OptimizeMesh = "Netgen";
Mesh.Smoothing = 100;
